include website-head

body
    - var curBook = lib_catalog[num-1]
    h2 #{curBook.title}
    p Автор: #{curBook.author}
    p Год выпуска: #{curBook.releaseYear}
    p Уникальный ID: #{curBook.id}

    if curBook.isTaken == null
        p В наличие
        if user.userName != "null"
            form(action="takeBook", method="post")
                button(type="submit", name="curBook", value=num)
                    p(class="fa-solid fa-square-plus")  Забронировать
    else
        if user.adminRoot == "yes"
            p Книгу забронировал пользователь #{curBook.owner} до #{curBook.submitDeadline}!
                form(action="extendDeadline", method="post")
                    button(type="submit", name="curBook", value=num)
                        p(class="leftBarText") Продлить бронь

        if user.userName == curBook.owner
            p Вы забронировали книгу до #{curBook.submitDeadline}!
            form(action="returnBook", method="post")
                button(type="submit", name="curBook", value=num)
                    p(class="leftBarText") Вернуть книгу

        else
            p Книга забронирована до #{curBook.submitDeadline}

    if user.adminRoot == true
        button(onclick="window.updateBook.showModal()")
            p(class="fa-solid fa-pen-to-square")  Изменить данные
        button(onclick="window.deleteBook.showModal()")
            p(class="fa-solid fa-trash-can")  Удалить из каталога

    dialog#updateBook
        form(action="changeBookInfo", method="post")
            label(for="title")
                p Название книги
            input(type="text", value=curBook.title, name="title", class="inputLabel")

            label(for="author")
                p Автор книги
            input(type="text", value=curBook.author, name="author", class="inputLabel")

            label(for="releaseYear")
                p Дата выпуска
            input(type="text", value=curBook.releaseYear, name="releaseYear", class="inputLabel")

            br
            button(name="id", type="submit", value=num, class="menu-button", class = "fa-solid fa-check")

            button(type="button", onclick="window.updateBook.close()", class="menu-button", class = "fa-solid fa-xmark")


    dialog#deleteBook
        p Вы уверены, что хотите удалить эту книгу?
            form(action="deleteBook", method="post")
                button(name="curBook", type="submit", value=num, class = "fa-solid fa-check", class = "menu-button")
                button(name="curBook", onclick="window.deleteBook.close()", class = "fa-solid fa-xmark", class = "menu-button")


