include head-page
    form(id="search-filter" method="post")
        input(type="text" name="search" placeholder="Имя")
        input(type="submit" value="submit")

    ol(class = "user-list")
        h3 Список пользователей
        each user in usersList
            li
                div(class = "user-list-elem", class = user.status.toString(), id = user.id.toString())
                    img(src = "../public/images/avatars/" + user.id.toString() + ".jpg", class = "user-avatar")
                    span  #{user.surname} #{user.name} #{user.patronymic} (#{user.birthdate})
                    if user.role == "admin"
                        span [admin]
                    a(href = "/usersList/friends/" + user.id, class="user-list-ref") друзья
                    a(href = "/usersList/posts/" + user.id, class="user-list-ref") новости
                    button(onclick="window.updateUser" + user.id + ".showModal()")
                        p(class="fa-solid fa-pen-to-square")  Изменить данные

                    dialog(id = "updateUser"+user.id) 
                        form(action="updateUser" + user.id, method="post", class = "update-user-form")
                            label(for="name")
                                p Имя: 
                            input(type="text", name="name", required, class="inputLabel", value=user.name)  
                            
                            label(for="surname")
                                p Фамилия: 
                            input(type="text", name="surname", required, class="inputLabel", value=user.surname)                            
                            
                            label(for="patronymic")
                                p Отчество: 
                            input(type="text", name="patronymic", required, class="inputLabel", value=user.patronymic)

                            label(for="birthdate")
                                p Дата рождения: 
                            input(type="date", name="birthdate", required, class="inputLabel", value=user.birthdate)

                            br
                            
                            if user.role == "admin"
                                label(for="admin")
                                    span Права администратора: 
                                input(type="checkbox", name="admin", class="inputLabel", checked) 
                            if user.role == "user"
                                label(for="admin")
                                    span Права администратора: 
                                input(type="checkbox", name="admin", class="inputLabel") 
        
                            br
                            button(name="user", type="submit", value=user.id, class="fa-solid fa-check", class = "menu-button")
                            button(type="button", onclick="window.updateUser" + user.id + ".close()", class="fa-solid fa-xmark", class = "menu-button")

                      


